---
import Card from '../components/Card.astro';
---

<h1>Bienvenido a mi sitio</h1>

<Card 
  title="Artículo 1" 
  description="Descripción del primer artículo" 
  link="https://ejemplo.com/1" />

<Card 
  title="Artículo 2" 
  description="Descripción del segundo artículo" 
  link="https://ejemplo.com/2" />

<Card 
  title="Artículo 3" 
  description="Descripción del tercer artículo" 
  link="https://ejemplo.com/3" />
  ---
  import Counter from '../components/Counter.jsx';
  ---
  
  <h1>Inicio</h1>
  
  <Counter client:load />
  